.App {
  text-align: center;
  font-family: 'Pelagiad';
  background-color: white;
}

.Map-background {
  text-align: center;
  font-family: 'Pelagiad';
  background-image: url('stained-old-paper.png');
  background-size: 100%;
  padding: 30px;
  margin: 0px;
  min-height: 92vh;
}

.Map-popup {
  text-align: center;
  font-family: 'Pelagiad';
  margin: 0px;
  padding: 0px;
}

.Map-container {
  border-radius: 35px;
  text-align: center;
  font-family: 'Pelagiad';
  min-height: 75vh;
  max-width: 150vh;
  margin: auto;
}

.Button-container {
  text-align: center;
  font-family: 'Pelagiad';
  max-height: 10vh;
  min-height: 5vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Bear-pic {
  height: 45vmin;
  pointer-events: none;
}

.Map-marker-1 {
  height: 20px
}

#mapid {
  height: 580px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica Neue';
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
